<button mat-button routerLink="/editions">
    Back to previous page
    <mat-icon>first_page</mat-icon>
  </button>
<mat-card class="example-card">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ selectedEdition$.title}}</mat-card-title>
    </mat-card-header>
    <img src="https://img.icons8.com/emoji/452/closed-book.png" alt="edition">
    <mat-card-content>
        <div class="authors">
            <p>Authors: </p>
            <div class="author" *ngFor="let author of  selectedEdition$.authors">
                {{author.name}}
            </div>
        </div>
        <div>
            <p>Edition Type: {{ selectedEdition$.type}} </p>
        </div>
        <div>
            <p>Price: {{ selectedEdition$.price}}$ </p>
        </div>
        <div>
            <p>Status: {{ selectedEdition$.status}} </p>
        </div>
        <div *ngIf="isAvailable">
            <button *ngIf="!isInCart(selectedEdition$)" (click)="addToCart(selectedEdition$)" mat-button>
                <mat-icon>add_shopping_cart</mat-icon>
                Add to cart
            </button>
            <button *ngIf="isInCart(selectedEdition$)" (click)="removeFromCart(selectedEdition$)" mat-button>
                <mat-icon>done</mat-icon>
                In cart
            </button>
        </div>
        <div *ngIf="!isAvailable">
            <button [disabled]="true" mat-button>Not Available </button>
        </div>
    </mat-card-content>
    <h2>Descriprion:</h2>
        <p> {{selectedEdition$.description}}</p>
  </mat-card>