
<mat-card *ngIf=!isTokenSended>
    <mat-card-title>Please enter your email to get reset link</mat-card-title>
<mat-card-content>
    <p>
     <input type="email" #email>
    </p>
    <p *ngIf=(errorMessage) class="error">
     {{errorMessage}}
    </p>
    <div class="log-button">
      <button type="submit" (click)="resetPassword(email.value)"mat-button>Reset Password</button>
    </div>
  </mat-card-content>
</mat-card>


<mat-card *ngIf=isTokenSended>
    <mat-card-title>Please enter your new Password</mat-card-title>
<mat-card-content>
    <p>
     <input type="password" #newPassword>
    </p>
    <p *ngIf=(errorMessage) class="error">
     {{errorMessage}}
    </p>
    <div class="log-button">
      <button type="submit" (click)="changePassword(newPassword.value)"mat-button>Reset Password</button>
    </div>
  </mat-card-content>
</mat-card>