
mat-toolbar {
    background-color: #1976d2;
}
::ng-deep .menu-without-scroll {
    overflow: hidden !important;
}
.logo {
   color :white;
   font-size: 32px;
}
.spacer {
    flex: 1 1 auto;
}
.fancy-button {
   background-color: white;
   color: #1976d2;
}

.usertag {
    padding-right: 10px;
    color: white;
}

