:host {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
}
.mat-card {
    width: 500px;
}

.mat-form-field {
    width: 400px;
}
.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}