@using EdProject.BLL.Models.User;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model LoginDTOModel
@{
    ViewData["Title"] = "Login";
}

<div class="login-container" id="login">
    <div id="loginForm">
        <form asp-action="Login" asp-controller="Admin" method="post">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" id="Email" />
            <label asp-for="Password"></label>
            <input type="text" asp-for="Password" id="Password" />
            <div class="button" id="loginButton">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>