@using EdProject.BLL.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
    <h2>Admin profile</h2>

        <form class="form-group" asp-action="UpdateUser" asp-controller="Admin" method="post">
            <input type="hidden" asp-for="User.Id" />
            <label asp-for="User.Username"></label>
            <input type="text" asp-for="User.Username"  />
            <label asp-for="User.Email"></label>
            <input type="text" asp-for="User.Email"  />
            <label asp-for="User.Fullname"></label>
            <input type="text" asp-for="User.Fullname"  />
            <div class="button">
                <button type="submit">Save changes</button>
            </div>
        </form>



        <form class="form-group" asp-action="ChangePassword" asp-controller="Admin" method="post">
            <input type="hidden" asp-for="User.Email" />
            <label asp-for="NewPassword"></label>
            <input type="password" asp-for="NewPassword" />
            <div class="button" >
                <button type="submit">Change password</button>
            </div>
        </form>