<h1>My Orders</h1>
<div class="sort-types">
  Sort by:
  <select [ngModel] = "selectedSortType" (ngModelChange)="handlePageSorting($event)">
    <option  [ngValue]="sort" *ngFor="let sort of sortTypeList" >
      {{ sort.name }}
    </option>
  </select>
</div>
<mat-paginator [pageSize] = "params.ElementsPerPage" [pageSizeOptions]="[5, 10, 15]" [length] = "resultsLength" (page)="pageChanged($event)"></mat-paginator>
<table mat-table [dataSource]="orders" class="mat-elevation-z8">
    <ng-container matColumnDef="OrderId">
      <th mat-header-cell *matHeaderCellDef> Order Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="OrderTime">
      <th mat-header-cell *matHeaderCellDef> Order Time </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt | date : 'short' }} </td>
    </ng-container>
  
    <ng-container matColumnDef="Product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let element;">
        <div *ngFor = " let item of element.orderItems">
            {{item.bookType}}
        </div>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor = " let item of element.orderItems">
            {{item.title}}
        </div>
       </td>
    </ng-container>
    <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Q-ty </th>
        <td mat-cell *matCellDef="let element"> 
            <div *ngFor = " let item of element.orderItems">
                {{item.itemsCount}} piece(s)
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="OrderAmount">
        <th mat-header-cell *matHeaderCellDef> Order Amount </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.total | number:'1.2-2'}}$
        </td>
    </ng-container>
    <ng-container matColumnDef="OrderStatus">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> 
            <p *ngIf = "element.statusType != 'Unpaid'">{{element.statusType}}</p>
            <button *ngIf = "element.statusType === 'Unpaid'" (click)="updateOrderStatus(element.id,element.total)"  mat-button>Pay</button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
